.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
src/PostProcessing.o 
src/RcppExports.o 
src/Test.o 
src/UserFunctions.o
src/test-BSplines.o 
src/test-Chi.o 
src/test-Eta.o 
src/test-Nu.o 
src/test-PartialMembership.o 
src/test-Phi.o 
src/test-Sigma.o 
src/test-Xi.o 
src/test-runner.o
